<header class="modern-header">
	<div class="header-container">
		<div class="header-left">
			<div class="brand-logo">
				{% if page.url != '/' %}
					<a href="../" target="_self" class="brand-link">
				{% else %}
					<div class="brand-link">
				{% endif %}
					<img class="brand-icon" src="{{ site.app_icon | relative_url }}" alt="{{ site.app_name }}">
					<span class="brand-name">{{ site.app_name }}</span>
				{% if page.url != '/' %}
					</a>
				{% else %}
					</div>
				{% endif %}
			</div>
		</div>
		
		<nav class="header-center">
			<ul class="nav-menu">
				{% for page in site.pages %}
					{% if page.include_in_header == true %}
					<li class="nav-item">
						<a href="{{ page.url | relative_url }}" target="_self" class="nav-link">{{ page.title }}</a>
					</li>
					{% endif %}
				{% endfor %}
				{% if site.presskit_download_link %}
					<li class="nav-item">
						<a href="{{ site.presskit_download_link }}" class="nav-link">Press Kit</a>
					</li>
				{% endif %}
			</ul>
		</nav>
		
		<div class="header-right">
			<!-- Space for future CTA buttons -->
		</div>
	</div>
</header>