<div class="sections-container">
    <!-- SECTION 1: Search for the perfect home -->
    <div class="section">
      <div class="section-image">
        <div class="image-carousel">
            <img
              src="{{ 'assets/screenshot/frontpage.png' | relative_url }}"
              alt="Search for the perfect home"
            />
            <img
              src="{{ 'assets/screenshot/2.png' | relative_url }}"
              alt="Another view of home"
            />
            <img
              src="{{ 'assets/screenshot/4.png' | relative_url }}"
              alt="Yet another view of home"
            />
        </div>
        <!-- pagination dots -->
        <div class="carousel-dots">
            <span class="dot active"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
      </div>
      <div class="section-text">
        <h3>Search for the perfect home</h3>
        <p>
            Browse Apateu’s listings by location and move-in/move-out dates. Instead of generic tags, every listing displays the host’s own description, so you get all the crucial details in their own words. 
        </p>
      </div>
    </div>
  
    <!-- SECTION 2: Express interest -->
    <div class="section">
      <div class="section-image">
        <img
          src="{{ 'assets/screenshot/frontpage.png' | relative_url }}"
          alt="Like, Bid & Match"
        />
      </div>
      <div class="section-text">
        <h3>Like, Bid & Match</h3>
        <p>
            Spotted a listing you love? Tap the “Like” button to send your interest. Hosts will review your profile and bid before deciding whether to match with you. 
        </p>
      </div>
    </div>
  
    <!-- SECTION 3: Chat with the roommates -->
    <div class="section">
      <div class="section-image">
        <img
          src="{{ 'assets/screenshot/frontpage.png' | relative_url }}"
          alt="Chat with the roommates"
        />
      </div>
      <div class="section-text">
        <h3>Chat & Negotiate </h3>
        <p>
          we have built-in chat functionality, so you can communicate directly with the host and other potential roommates. Ask questions, share your preferences, and get to know each other better before making a decision.
        </p>
      </div>
    </div>
  
    <!-- SECTION 4: Negotiate terms -->
    <div class="section">
      <div class="section-image">
        <img
          src="{{ 'assets/screenshot/frontpage.png' | relative_url }}"
          alt="Safety & Trust"
        />
      </div>
      <div class="section-text">
        <h3>Safety & Trust</h3>
        <p>
            Apateu prioritizes your safety and trust. We verify user ID to ensure safety and authenticity. For students, we also verify their student status by .edu email. In addition, we make report button available in every chat and every post, so that you can report any suspicious activity or content.
        </p>
      </div>
    </div>
</div>
